/*body {
    background-image: linear-gradient(white, rgb(197, 225, 235));
    max-height: 100%;
}*/

body {
    margin: 0;
    padding: 0;
    border: 0;
}
/* ------------------OFF SCREEN MENU END-------------- */

 

#profile-picture {
    border: 3.5px dotted white;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    float: left;
}


#name {
    padding: 160px 0px 0px 35px;
    color: rgb(0, 0, 0);
}

#phone {
    padding: 10px 0px 0px 275px;
    color: rgba(0, 0, 0, 0.484);
}

#address {
    padding: 15px 0px 0px 1300px;
}

table {
    width: 100%;
}

.container {
    margin: 50px;
    margin-top: 100px;
    padding: 10px;
    border: 3px dashed rgb(0, 0, 0);
}

#personal {
    width: 250px;
    height: 225px;
    background-color: rgb(0, 0, 0);
    color: white;
}

#personal-yap {
    border: none;
    width: fit-content;
    height: fit-content;
    font-size: larger;
}

#previous-work {
    width: 250px;
    height: 225px;
    background-color: rgb(0, 0, 0);
}

#previous-work-yap {
    border: none;
    width: fit-content;
    height: fit-content;
    font-size: larger;
}

#contacts {
    float: left;
    width: fit-content;
    height: fit-content;
    font-size: larger;
    background-color: rgb(0, 0, 0);
}

#education {
    float: right;
    width: fit-content;
    height: fit-content;
    font-size: larger;
    background-color: rgb(0, 0, 0);
}

h2 li h3 h4 {
    color: white;
}












/*==========Tablet Media Query==========*/
@media screen and (min-width: 769px) {
}
 /*==========End Tablet Meida Query==========*/
 /*==========Desktop Media Query==========*/
 @media screen and (min-width: 1025px) {
 }
 /*==========End Desktop Media Query==========*/
 /*==========Large Display Query==========*/
 @media screen and (min-width: 1850px) {
 }
 /*==========End Large Display Media Query==========*/