/*body {
    background-image: linear-gradient(white, rgb(197, 225, 235));
    max-height: 100%;
}*/

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
}
/* ------------------OFF SCREEN MENU END-------------- */

 

#profile-picture {
    border: 3.5px dotted white;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    float: left;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: white;
}

#name {
    padding: 160px 0px 0px 35px;
    color: rgb(255, 128, 0);
}

#phone {
    padding: 10px 0px 0px 275px;
    color: rgb(173, 79, 12);
}

#address {
    padding: 15px 0px 0px 1300px;
}

table {
    width: 100%;
}

.container {
    margin: 50px;
    margin-top: 100px;
    padding: 10px;
    border: 3px solid white;
}

#personal {
    width: 250px;
    height: 225px;
    background-color: rgb(255, 128, 0);
}

#personal-yap {
    border: none;
    width: fit-content;
    height: fit-content;
    font-size: larger;
}

#previous-work {
    width: 250px;
    height: 225px;
    background-color: rgb(255, 128, 0);
}

#previous-work-yap {
    border: none;
    width: fit-content;
    height: fit-content;
    font-size: larger;
}

#contacts {
    float: left;
    width: fit-content;
    height: fit-content;
    font-size: larger;
    background-color: rgb(255, 128, 0);
}

#education {
    float: right;
    width: fit-content;
    height: fit-content;
    font-size: larger;
    background-color: rgb(255, 128, 0);
}














/* Tablet Media Query */
@media screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}
/* end */


/* Tablet Media Query */
@media screen and (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}
/* end */


/* Desktop Media Query */
@media screen and (min-width: 1025px) {
    .container  {
        display: grid;
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}
/* end */



 /* #main {
    height: 250px;
    width: 250px;
}

 .row {
    
 }

 .col {

 }

 .header {
    background-color: white;
    padding: 5px;
    margin: 5px;
 }

 button {

 }*/